### NumPy - Numerical Python
Some of the important attributes of a NumPy object are:

- Ndim: displays the dimension of the array <br />
- Shape: returns a tuple of integers indicating the size of the array <br />
- Size: returns the total number of elements in the NumPy array <br />
- Dtype: returns the type of elements in the array, i.e., int64, character <br />
- Itemsize: returns the size in bytes of each item <br />
- Reshape: Reshapes the NumPy array <br />

In [6]:
import numpy as np

a = np.array([1,2,3])
a

array([1, 2, 3])

In [15]:
b = np.ones((3,4), dtype = np.int16)
b

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]], dtype=int16)

In [26]:
c =  np.arange(0,10)
c.ndim

1

In [30]:
# We can assign single value to a slice also
# a [1:3] = -1 shows error... but we can in np
a = np.array([10,20,30,40,50])
a[1:3] = -1
a

array([10, -1, -1, 40, 50])

<img src = "https://cloudxlab.com/blog/wp-content/uploads/2017/12/Screen-Shot-2017-12-13-at-5.57.21-PM.png">

In [45]:
npOnes1 = np.ones((3,3))
npOnes1

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [46]:
npOnes2 = np.arange(3)
npOnes2

array([0, 1, 2])

In [47]:
npOnesFinal = np.ones((3,3)) + np.arange(3)
npOnesFinal

array([[1., 2., 3.],
       [1., 2., 3.],
       [1., 2., 3.]])

## Pandas

In [49]:
import pandas as pd
pd

In [64]:
student_dict = {'RollNumber':pd.Series([547,548,549,550,551],index= ["Tilak","Raviteja","Manasa","Indira","Alekhya"])}
student_dict

{'RollNumber': Tilak       547
 Raviteja    548
 Manasa      549
 Indira      550
 Alekhya     551
 dtype: int64}

In [65]:
students = pd.DataFrame(student_dict)
students

          RollNumber
Tilak            547
Raviteja         548
Manasa           549
Indira           550
Alekhya          551

In [68]:
students['Marks'] = [99,88,77,66,55]
students

          RollNumber  Marks
Tilak            547     99
Raviteja         548     88
Manasa           549     77
Indira           550     66
Alekhya          551     55

In [70]:
students['Marks'] = [99,88,100,66,55]
students

          RollNumber  Marks
Tilak            547     99
Raviteja         548     88
Manasa           549    100
Indira           550     66
Alekhya          551     55

In [71]:
irisData = pd.read_csv('iris.csv')
irisData

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [73]:
# 150 Rows, 5 Columnms -- Shape
irisData.shape

(150, 5)

In [74]:
# All Columns
irisData.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [75]:
irisData.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object